<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button color="dark" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="category">
    <ion-button *ngFor="let items of this.category" color="light">{{items.name}}</ion-button>
  </div>

  <div class="comments">
    <ion-card *ngFor="let comment of this.comments" [routerLink]="['/comment-details/' + comment._id]">
      <ion-card-header>
        <ion-avatar>
          <img [src]="comment.user.profile_picture" >
        </ion-avatar>
        <span class="nick">{{comment.user.nick}}</span>
        <ion-button size="small" fill="clear" (click)="follow(comment.user)">{{this.followtext}}</ion-button>
        <span class="created_at">{{comment.date | date:'HH'}}</span>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          <p>{{comment.content}}</p>
        </ion-label>
        <ion-button color="light" (click)="like(comment._id)"><ion-icon name="heart-outline"></ion-icon>{{comment.likes.length}}</ion-button>
        <ion-button color="light" (click)="dislike(comment._id)"><ion-icon name="heart-dislike-outline"></ion-icon>{{comment.dislikes.length}}</ion-button>
        <ion-button color="light"><ion-icon name="chatbox-outline"></ion-icon>{{comment.comments.length}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
